body {
  background-image: url('../img/background.png');
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
}

/*-----------------------------------*\
     * #Header Section
\*-----------------------------------*/

header {
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  margin-left: 10px;
}

.nav-items ul {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  padding: 0;
  margin-right: 20px;
}

.nav-items li {
  margin-right: 60px;
  position: relative;
}

.nav-items a {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
}

.nav-items a:hover,
.nav-items a.active {
  color: red;
  border-bottom: 2px solid red;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu .line {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

.tint {
  color: red;
}

.main-section {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 50px 0;
}

.main-section h2 {
  font-size: 2em;
  margin-top: 10vh;
  margin-bottom: 10px;
}

#bookNow {
  background-color: red;
  border-radius: 10px;
  color: white;
  border: none;
  margin-top: 50px;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

/*-----------------------------------*\
     * #FOOTER
    \*-----------------------------------*/

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
}

/* Media Query for Responsive Menu */
@media only screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 50%; 
    padding: 50px;
    position: fixed;
    top: 0;
    left: -80%; 
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    height: 100vh;
    transition: left 0.3s ease; 
}

.nav-items li {
  /* padding: 25px 0 10px;  */
  margin-top: 50px;
}

.nav-links.active {
    left: 0; /* Slide in from the left when active */
}

.hamburger-menu {
    display: block;
}
}